<h4 class="item-name">
  <div class="item-avatar">
    <span class="rollable move-rollable" data-roll="{{item.data.rollType}}" data-mod="{{item.data.rollMod}}">
      {{#if item.data.rollType}}
        <i class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i>
      {{else if item.data.rollFormula}}
        <i class="fas fa-dice-d20"></i>
      {{else}}
        <i class="fas fa-book"></i>
      {{/if}}
    </span>
    <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27"/>
  </div>
  <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span>
</h4>
{{#if item.data.rollType}}
  <div class="item-meta tags roll-type">
    <span class="tag">
      {{#if (eq item.data.rollType 'FORMULA')}}
        {{item.data.rollFormula}}
      {{else}}
        {{getLabel statSettings item.data.rollType}}
      {{/if}}
    </span>
  </div>
{{else if item.data.rollFormula}}
  <div class="item-meta tags">
    <span class="tag">{{item.data.rollFormula}}</span>
  </div>
{{/if}}
<div class="item-controls">
  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
</div>
<div class="item-description">
  <div>{{{enrichText item.data.description rollData}}}</div>
  {{#if item.data.moveResults.success.value}}
    <div class="result result--success"><strong class="result-label">10+:</strong>{{{enrichText item.data.moveResults.success.value rollData}}}</div>
  {{/if}}
  {{#if item.data.moveResults.partial.value}}
    <div class="result result--partial"><strong class="result-label">7-9:</strong>{{{enrichText item.data.moveResults.partial.value rollData}}}</div>
  {{/if}}
  {{#if item.data.moveResults.failure.value}}
    <div class="result result--failure"><strong class="result-label">6-:</strong>{{{enrichText item.data.moveResults.failure.value rollData}}}</div>
  {{/if}}
  {{#if item.data.choices}}
    <div class="result result--choices"><strong class="result-label">{{localize 'DW.Choices'}}:</strong>{{{enrichText item.data.choices rollData}}}</div>
  {{/if}}
</div>