<li>
  <div class="selection-control">
    {{!-- Moves in a group should be in a radio. --}}
    {{#if move.data.data.moveGroup}}
      <input type="radio" name="{{move.data.data.moveGroup}}" data-item-id="{{move.data._id}}" data-type="move">
    {{!-- Other moves should be checkboxes that the user is forced to take. --}}
    {{else}}
      <input type="checkbox" data-item-id="{{move.data._id}}" data-type="move" {{#if preselect }}checked disabled="disabled"{{/if}}>
    {{/if}}
  </div>
  {{!-- Finally, show the description. --}}
  <div class="selection-content">
    <h3>{{move.data.name}}</h3>
    <div>{{{move.data.data.description}}}</div>
    {{#if move.data.data.moveResults.success.value}}
      <div class="result result--success"><strong class="result-label">10+:</strong>{{{move.data.data.moveResults.success.value}}}</div>
    {{/if}}
    {{#if move.data.data.moveResults.partial.value}}
      <div class="result result--partial"><strong class="result-label">7-9:</strong>{{{move.data.data.moveResults.partial.value}}}</div>
    {{/if}}
    {{#if move.data.data.moveResults.failure.value}}
      <div class="result result--failure"><strong class="result-label">6-:</strong>{{{move.data.data.moveResults.failure.value}}}</div>
    {{/if}}
    {{#if move.data.data.choices}}
      <div class="result result--choices"><strong class="result-label">{{localize 'DW.Choices'}}:</strong>{{{move.data.data.choices}}}</div>
    {{/if}}
  </div>
</li>